{% extends "base.html" %} 

{% block content %}
    <div class="flex h-screen">
        <div class="bg-white w-[340px] p-4 m-auto rounded">
            <div class="flex flex-col items-center text-center mb-6">
                <h2 class="card-title text-2xl font-bold">Welcome to SaveIt!</h2>
                <p class="text-base-content/70">Keep the good stuff, all in one place.</p>
            </div>
            <form method="POST" action="">
                {% comment %} {% csrf_token %} {% endcomment %}
                <div class="mb-4">
                    <label class="">
                        <span class="label-text">Username</span>
                    </label>
                    <input type="text" name="username" placeholder="Username" class="w-full border border-gray-300 p-1" value="admin@admin.com" />
                </div>

                <div class="mb-4">
                    <label class="">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" name="password" placeholder="Password" class="w-full border border-gray-300 p-1" value="admin" />
                </div>
            </form>
            {% comment %} NTAR MASUKIN KE FORM INI BUTTON {% endcomment %}
            <a href="{% url "bookmarks" %}">
                <button class="w-full bg-green-300 p-1">Sign In</button>
            </a>
        </div>
    </div>
{% endblock %}
